@using Recaptcha.Web.Mvc;
@model BusinessReviewApp.Models.Business

@{
    ViewBag.Title = "Add a new business below.";
}

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Business</legend>
        <i class="requiredField">* Indicates a required field</i>

        <div class="editor-label">
            * @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            * @Html.LabelFor(model => model.Street)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Street)
            @Html.ValidationMessageFor(model => model.Street)
        </div>

        <div class="editor-label">
            * @Html.LabelFor(model => model.Town)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Town)
            @Html.ValidationMessageFor(model => model.Town)
        </div>

        <div class="editor-label">
            * @Html.LabelFor(model => model.County)
        </div>
        <div class="editor-field">
            @{
                List<String> counties = new List<String>() {"", "Antrim", "Armagh", "Carlow", "Cavan", "Clare", "Cork", "Derry", 
                    "Donegal", "Down", "Dublin", "Fermanagh", "Galway", "Kerry", "Kildare", "Kilkenny", "Laois", "Leitrim", 
                    "Limerick", "Longford", "Louth", "Mayo", "Meath", "Monaghan", "Offaly", "Roscommon", "Sligo", "Tipperary", 
                    "Tyrone", "Waterford", "Westmeath", "Wexford", "Wicklow" };
            }

            @Html.DropDownListFor(model => model.County, new SelectList(counties))
            @Html.ValidationMessageFor(model => model.County)
        </div>

        <div class="editor-label">
            * @Html.LabelFor(model => model.Category)
        </div>
        <div class="editor-field">
            @{
                List<String> categories = new List<String>() { "Automotive", "Business Support & Supplies", "Computers & Electronics", "Construction & Contractors",
                "Distribution", "Education", "Emergency Services","Entertainment", "Food & Dining", "Health & Medicine", "Home & Garden", "Legal & Financial", "Manufacturing",
                "Miscellaneous", "Personal Care & Services", "Real Estate", "Retail", "Travel & Transportation"};
            }

            @Html.DropDownListFor(model => model.Category, new SelectList(categories))
            @Html.ValidationMessageFor(model => model.Category)
        </div>

        <div class="editor-label">
            * @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <br>
        @Html.Recaptcha(theme: Recaptcha.Web.RecaptchaTheme.Blackglass)
        <br>

        <p>
            <input type="submit" value="Create" />
            <i>Note: After the basic details of a business have been added you can then add more details by editing that </i>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
