@model IEnumerable<BusinessReviewApp.Models.Business>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model) 
{
    <div class="business-item">
      
        <div class="business-image">
            <a href ="Business/Details/@Html.DisplayFor(modelItem => item.BusinessID)"><img src="Images/imageNotFound.jpg" height="150" width="200"></a>
        </div>
        <div class="business-description-brief">
            <a href ="Business/Details/@Html.DisplayFor(modelItem => item.BusinessID)"><b>@Html.DisplayFor(modelItem => item.Name)</b></a><br>
            @Html.DisplayFor(modelItem => item.Street), @Html.DisplayFor(modelItem => item.Street)<br>
            @Html.DisplayFor(modelItem => item.Description).ToString()<br>
            Price Rating: <img src="Images/@Html.DisplayFor(modelItem => item.PriceRating)StarRating.png" height="30" width="120">
            @Html.ActionLink("Delete", "Delete", new { id=item.BusinessID })

             
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
}

